### Задача 1

Создайте переменную **name** и сохраните в нее своё имя.

**Решение:**

In [ ]:
name = 'Антон' #Создаем переменную, в которую записываем имя

### Задача 2

С помощью функции print выведите строку "5 котиков + 6 котиков = 11 котиков". Передайте в скобки функции print() строку **"5 котиков + 6 котиков = 11 котиков"**.

**Решение:**

In [ ]:
print('5 котиков + 6 котиков = 11 котиков') #При помощи функции print печатаем необходимую строку

5 котиков + 6 котиков = 11 котиков

### Задача 3

С помощью функции input считайте с входящей строки два целых числа.

**Решение:**

In [ ]:
#Читаем с клавиатуры число, при этом выводим сообщение пользователю 'Введите первое число: '. Полученное значение переводим из строки в целое число и сохраняем в переменной
a = int(input('Введите первое число: ')) 
#Читаем с клавиатуры число, при этом выводим сообщение пользователю 'Введите второе число: '. Полученное значение переводим из строки в целое число и сохраняем в переменной
b = int(input('Введите второе число: '))

print('Первое число: ', a, '. Второе число: ', b) #Выводим информацию на экран

Введите первое число: 4
Введите второе число: 6
Первое число:  4 . Второе число:  6

### Задача 4

Дан ряд целых чисел от 0 до 30 включительно. Используя цикл for, выведите на экран весь ряд. 

Результатом работы программы должен быть вывод в ячейке:

**0**

**1**

**2**

**3**

**4**

... и т.д.

**Решение:**

In [ ]:
for i in range(31): #Создаем цикл, в котором перебираем в параметре i числа от 0 до 31 не включительно 
  print(i) #Печатаем каждый i-ый элемент

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

### Задача 5
Дан следующий список:

In [ ]:
my_list = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

Используя цикл for, выведите все значения списка.

Результатом работы программы должен быть вывод в ячейке:

**0**

**1**

**1**

**2**

**3**

... и т.д.

**Решение:**

In [ ]:
for i in my_list: #Создаем цикл, в котором перебираем в параметре i элементы списка
  print(i) #Печатаем каждый i-ый элемент

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377